.chakra-datepicker {
  width: 100%;
  padding: 8px;
  font-family: 'Inter', sans-serif;
  border: 2px solid black; /* Рамка, похожая на Chakra UI Select */
  border-radius: 10px;
  background-color: transparent;
  color: #4a5568; /* Цвет текста, как у Chakra UI */
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input {
  border: 1px solid #cbd5e0;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  background-color: white;
  color: #4a5568;
  width: 100%;
}

.react-datepicker__calendar-container {
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
}

.react-datepicker__header {
  background-color: #edf2f7; /* Цвет фона для заголовка календаря */
  border-radius: 8px 8px 0 0;
  padding: 8px;
  text-align: center;
  color: #2d3748; /* Цвет текста для заголовка */
}

.react-datepicker__month {
  border-radius: 8px;
  overflow: hidden;
}

.react-datepicker__day {
  font-size: 14px;
  line-height: 30px;
  padding: 5px;
  color: #4a5568;
}

.react-datepicker__day--selected {
  background-color: transparent; /* Убираем подсветку выбранного дня */
  color: #3182ce; /* Цвет текста выбранного дня */
}

.react-datepicker__day--today {
  font-weight: bold;
  color: #3182ce; /* Цвет для сегодняшнего дня */
}

.react-datepicker__tab-loop {
  /* position: absolute; */
}

.react-datepicker-wrapper {
  height: 100%;
}

.react-datepicker-ignore-onclickoutside {
  outline: none;
}